body {
    margin: 0
}

.root {
    display: flex;
    flex-direction: column;
}

/*navbar*/
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 100px;
    width: 100%;

    background-color: aqua;

    box-sizing: border-box;
    border-bottom: 4px solid red;
}

@media screen and (max-device-width: 768px) {
    .navbar {
        height: 70px;

        background-color: dodgerblue;
    }
}

/*content*/
.content {
    margin-top: 100px;
}

@media screen and (max-device-width: 767px) {
    .content {
        margin-top: 70px;
    }
}



/*logo*/

.logo {
    width: 177px;
    height: 50px;

    background-color: aliceblue;
}

/*NavItem*/
.navItem{


    width: 177px;
    height: 50px;

    background-color: blueviolet;
}