body {
    margin: 0
}

.root {
    display: flex;
    flex-direction: column;
}

.navbar {
    position: fixed;
    height: 100px;
    width: 100%;
    padding: 0 200px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    box-sizing: border-box;
    border-bottom: 4px solid red;

    background-color: aqua;
}

.content {
    margin-top: 100px;
}

.logo {
    width: 177px;
    height: 50px;

    cursor: pointer;

    background-color: aliceblue;
}

.navItem {
    width: 177px;
    height: 50px;

    cursor: pointer;

    background-color: blueviolet;
}